/*
   buddypress.css
   PageLines Framework
   
   Created by PageLines on 2011-07-11.
   Copyright 2011 PageLines Inc. All rights reserved.
*/


/* Designers Note: #content and #container are reserved for use by BuddyPress */

	body #wp-admin-bar #admin-bar-logo { line-height: 1.4em;}
	body.buddypress{border-top: none;padding-top: none;}
		#buddypress-page  #container {	margin: 20px auto; float:left; }
		#buddypress-page  #content {padding-right: 30px;}
		#buddypress-page #object-nav {
			margin: 0;
			margin-top: 1em;
			padding: 0;
		}
			#buddypress-page #item-nav { margin-bottom: 1.5em;}
			#buddypress-page #object-nav ul li a{ padding: 3px 12px; display: block; }
	
		#buddypress-page #subnav {
			margin: 0;
			margin-bottom: 2.5em;
			padding: 10px;
		}
			#buddypress-page #subnav a{ 
				font-size: 12px;
				line-height: 1.2em;
				padding: 7px;
				display: block;
			}

			#buddypress-page #settings-form input{ margin-bottom: 1.3em; }
				#buddypress-page div.activity-comments form textarea, #buddypress-page form#whats-new-form #whats-new-textarea textarea{background: none;}
			#buddypress-page  #container .submit {
				border:none;
				background:none;
				padding:7px 0px;
				margin: 0px;
			}
				#buddypress-page  #container .submit .auto{padding: 5px;}
				#buddypress-page ul.button-nav{list-style-type:none;}
				#buddypress-page form.dir-form div.dir-search {width:47%;}
				#buddypress-page form.dir-form div.dir-search input[type="submit"] {
					float:right;
					clear:right;
					padding:4px 4px;
					margin-right:5px;
				}

			#buddypress-page .profile-fields td{ padding: 5px; }
			#buddypress-page .radio ul{ margin:  5px 0 1em 50px; }
			#buddypress-page div.item-list-tabs ul li{ margin: 0 5px; }
			#buddypress-page table.forum{width: 100%;margin: 1.4em 0;text-align: center;}
			#buddypress-page table.forum th {padding: 5px;font-weight: normal;}
			#buddypress-page table.forum td {padding: .5em;}
			#buddypress-page table.forum .td-poster .poster-name{ display: inline;}
			#buddypress-page table.forum .td-poster img{ vertical-align: middle;margin-right: 5px;}
			#buddypress-page table.forum .td-title{font-size: 1.3em;text-align: left;}
			#buddypress-page table.forum .td-title a:hover{text-decoration: underline;}
			
			#buddypress-page .standard-form #topic-meta h3{margin: 1em 0;font-size: 1.9em;}
			#buddypress-page .standard-form .admin-links{font-size: .8em; padding: 4px 0;}
			#buddypress-page .item-list li{margin-bottom: 1.5em;padding: .3em 0;}
			#buddypress-page .item-list .item-title{font-size: 1.3em;}
			#buddypress-page .item-list .poster-meta{font-size: 1.3em; font-style: italic;}
			#buddypress-page .item-list .poster-meta img{vertical-align: middle;margin-right:10px;}
			#buddypress-page .item-list .post-content{ padding: 20px 20px 10px;}
			#buddypress-page #item-actions{margin-bottom: 1em;}
			#buddypress-page .activity {font-style:italic;font-size:.9em;}
			#buddypress-page .activity .activity-inner{font-style:normal;padding: 10px 10px 2px;margin-bottom: 1em;}
			
			.item-avatar {float: left; margin-right: 10px;}
			.item-avatar a{padding: 3px; display: block;}
			.item-avatar a img{display: block;}