/*
   common.css
   Common WordPress Objects Default Formatting
   
   Created by Andrew Powers on 2011-05-30.
   Copyright 2011 PageLines. All rights reserved.
*/

/* Reset CSS Defaults */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block; }

/* @ Common Text Element Styling */
	a:focus{outline:1px dotted invert;}
	input::-moz-focus-inner { border: 0; } 
	hr{border:0 transparent solid;border-bottom-width:1px;clear:both;height:0}
	ol{list-style:decimal}
	ol ol{list-style:lower-roman}
	ol ol ol{list-style:lower-alpha}
	ul{list-style:square;}
	dt {font-weight:bold;}
	dd {font-style: italic;}
	sup {font-size:.7em;vertical-align: top;vertical-align:super;}
	sub {font-size:.7em;vertical-align: bottom;}
	big {font-size: 1.3em;}
	abbr, acronym{ border-bottom: .1em dotted; cursor: help; }
	q:before, q:after{ content: "'";}
	
	code{
		display: block;
		padding: 10px;
		margin: 1em;
	}
	
/* Inputs */
input{
	font-size:110%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding: 5px;
}
input[type="text"]{
	max-width: 600px;
}
textarea {
	font-size:110%;
	border-color:transparent;
	border-style:solid;
	border-width:1px;
	padding: 5px;
	width: 96%;
	max-width: 600px;
	display: block;
}

/* @ Submits & Others Buttons */
input[type="submit"], .submit, input[type="button"], .button, input[type="reset"], .reset{
	padding: 4px 9px;
	cursor: pointer;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000000; 
	text-shadow:0 1px 0 rgba(255,255,255,0.5); 
	border:1px solid #bbbbbb; 
	background:#eeeeee; 
	background:-moz-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc)); 
	background:-webkit-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-o-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-ms-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@top',endColorstr='@bottom',GradientType=0); 
} 

	input[type="submit"]:hover, .submit:hover, input[type="button"]:hover, .button:hover, input[type="reset"]:hover, .reset:hover { 
		color:#000000; 
		text-shadow:0 1px 0 rgba(255,255,255,0.5); 
		border:1px solid #aeaeae; 
		background:#e1e1e1; 
		background:-moz-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cfcfcf)); 
		background:-webkit-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-o-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-ms-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@top',endColorstr='@bottom',GradientType=0); 
	} 

	input[type="submit"]:active, .submit:active, input[type="button"]:active, .button:active, input[type="reset"]:active, .reset:active { 
		color:#000000; 
		text-shadow:0 1px 0 rgba(255,255,255,0.5); 
		border:1px solid #8e8e8e; 
		background:#c1c1c1; 
		background:-moz-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#d3d3d3)); 
		background:-webkit-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-o-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-ms-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@top',endColorstr='@bottom',GradientType=0); }
	}

/* @ Widgets Default Formatting */
	/* Calendar */
	#calendar_wrap {text-align:center;padding: 8px 15px;margin: 0;}
	#wp-calendar {text-align:center;margin-top:5px;width:100%;}
	#wp-calendar caption{font-weight: bold; font-size: 1.2em;}
	#wp-calendar td{padding:4px 8px;}
	#wp-calendar #today{font-weight: bold;}
	
	.widget_tag_cloud .winner div{padding: 15px;} /* Tags */
	.widget_archive .winner select { margin: 10px; } /* Archive */
	.screen-reader-text {display:none;}  /* Search */
	#wpstats{width:0px;height:0px;overflow:hidden;}
	
/* @ Comments */
	#commentform { margin-top: 10px; }
	#commentform small { font-size: 90%; }
	#commentform input[type="text"] {padding: 7px;display: block;}
	#commentform textarea {
		padding: 7px;
		height: 140px;
	}
	.wp-comments{ margin: 1.4em 0 0; }
	.wp-comments-pad{ padding: 20px 0; }
	
	 #respond {margin: 20px 0;}
	 ol ul #commentform textarea {width: 90%;}

	#commentform #submit {display: inline;}
	
	.form-allowed-tags {font-size: .85em;}
	.form-allowed-tags code {display: block;font-size:10px;}

	.nocommentform {display:none}

	/* List of Comments */
		.commentlist {
			list-style-type:none;
			margin: 10px 0px 10px 18px;
			line-height: 1.6em;
			padding-left:55px;
		}
			.commentlist li{ padding: 10px;}
			.commentlist ul.children {list-style-type: none;margin: 1em 0;}
			.commentlist cite { font-weight: bold; font-style: normal; }

			.commentlist img.avatar {  
				float: left;  
				margin: 0 5px 5px -65px;  
				position: relative; 
			}
			.commentlist .children img.avatar {  
				float: left;  
				margin: 0 10px 5px 0;  
				position: relative; 
			}
			.commentlist .comment-meta {
				margin-bottom: 5px;
				display: block;
				font-size: 87%;
			}
	.nocomments{display:none;}


	/* @ Floating and Alignment */
		.hidden {display: none;}
		.aligncenter,.alignnone {display: block;margin-left: auto;margin-right: auto;}
		.center, .textcenter {text-align: center;}
		.alignleft {float: left;margin:0 1.2em .4em 0;}
		.left {	float: left; }
		.textleft {text-align: left;}
		.alignright {float: right;margin:0 0 .4em 1.4em;}
		.right { float: right; }
		.textright {text-align:right;}
		.clear {clear:both;}
		.block{display:block;}
		img.center, img[align="center"] {display: block;margin-left: auto;margin-right: auto;}
		img.left, img[align="left"] { float:left;margin: 2px 10px 5px 0px;}
		img.right, img[align="right"] {	float:right;margin: 2px 0px 5px 10px;}
		
	/* @ Clearfixing */
		.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} .fix{display:inline-block;} * html .fix{height:1%;} .fix{display:block;}
		