/* PageLines - Copyright 2011 - Version 2.0.b4 */

/* Import Google Fonts --------------- */

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:regular,bold);

/* Set Type --------------- */

h1, h2, h3, h4, h5, h6, .site-title{font-family:"Dancing Script", arial, serif;letter-spacing:0.00em;text-transform:none;font-weight:normal;font-variant:normal;font-style:normal;}

body, .font1, .font-primary, .commentlist{font-family:Georgia, "Times New Roman", Times, serif;letter-spacing:0.00em;text-transform:none;font-weight:normal;font-variant:normal;font-style:normal;}

.font2, .font-sub, ul.main-nav li a, #secondnav li a, .metabar, .subtext, .subhead, .widget-title, .post-comments, .reply a, .editpage, #pagination .wp-pagenavi, .post-edit-link, #wp-calendar caption, #wp-calendar thead th, .soapbox-links a, .fancybox, .standard-form .admin-links, #featurenav a, .pagelines-blink, .ftitle small{font-family:"Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;letter-spacing:0.00em;text-transform:none;font-weight:normal;font-variant:normal;font-style:normal;}

input[type="text"], input[type="password"], textarea, #dsq-content textarea{font-family:Courier, Verdana, sans-serif;letter-spacing:0.00em;text-transform:none;font-weight:normal;font-variant:normal;font-style:normal;}

/* Dynamic Layout --------------- */

.fixed_width #page, .fixed_width #footer, .canvas #page-canvas{ max-width:1100px }
#page-main .content{ max-width:1082px }
#site .content, .wcontent, #footer .content{ width: 100%; max-width:1080px;}

.fullwidth  #pagelines_content #column-main, .fullwidth  .wmain, .fullwidth  #buddypress-page #container{ width:100%; }
.fullwidth  #pagelines_content #sidebar1, .fullwidth  #buddypress-page #sidebar1{ width:0%; }
.fullwidth  #pagelines_content #sidebar2, .fullwidth  #buddypress-page #sidebar2{ width:0%; }
.fullwidth  #pagelines_content #column-wrap, .fullwidth  #buddypress-page #container{ width:88.8888888889%; }
.fullwidth  #pagelines_content #sidebar-wrap, .fullwidth  #buddypress-page #sidebar-wrap{ width:0%; }

.one-sidebar-right  #pagelines_content #column-main, .one-sidebar-right  .wmain, .one-sidebar-right  #buddypress-page #container{ width:100%; }
.one-sidebar-right  #pagelines_content #sidebar1, .one-sidebar-right  #buddypress-page #sidebar1{ width:100%; }
.one-sidebar-right  #pagelines_content #sidebar2, .one-sidebar-right  #buddypress-page #sidebar2{ width:0%; }
.one-sidebar-right  #pagelines_content #column-wrap, .one-sidebar-right  #buddypress-page #container{ width:59.2592592593%; }
.one-sidebar-right  #pagelines_content #sidebar-wrap, .one-sidebar-right  #buddypress-page #sidebar-wrap{ width:40.7407407407%; }

.one-sidebar-left  #pagelines_content #column-main, .one-sidebar-left  .wmain, .one-sidebar-left  #buddypress-page #container{ width:100%; }
.one-sidebar-left  #pagelines_content #sidebar1, .one-sidebar-left  #buddypress-page #sidebar1{ width:100%; }
.one-sidebar-left  #pagelines_content #sidebar2, .one-sidebar-left  #buddypress-page #sidebar2{ width:0%; }
.one-sidebar-left  #pagelines_content #column-wrap, .one-sidebar-left  #buddypress-page #container{ width:59.2592592593%; }
.one-sidebar-left  #pagelines_content #sidebar-wrap, .one-sidebar-left  #buddypress-page #sidebar-wrap{ width:40.7407407407%; }

.two-sidebar-right  #pagelines_content #column-main, .two-sidebar-right  .wmain, .two-sidebar-right  #buddypress-page #container{ width:100%; }
.two-sidebar-right  #pagelines_content #sidebar1, .two-sidebar-right  #buddypress-page #sidebar1{ width:75.3351206434%; }
.two-sidebar-right  #pagelines_content #sidebar2, .two-sidebar-right  #buddypress-page #sidebar2{ width:24.6648793566%; }
.two-sidebar-right  #pagelines_content #column-wrap, .two-sidebar-right  #buddypress-page #container{ width:30.9259259259%; }
.two-sidebar-right  #pagelines_content #sidebar-wrap, .two-sidebar-right  #buddypress-page #sidebar-wrap{ width:69.0740740741%; }

.two-sidebar-left  #pagelines_content #column-main, .two-sidebar-left  .wmain, .two-sidebar-left  #buddypress-page #container{ width:100%; }
.two-sidebar-left  #pagelines_content #sidebar1, .two-sidebar-left  #buddypress-page #sidebar1{ width:60.6060606061%; }
.two-sidebar-left  #pagelines_content #sidebar2, .two-sidebar-left  #buddypress-page #sidebar2{ width:39.3939393939%; }
.two-sidebar-left  #pagelines_content #column-wrap, .two-sidebar-left  #buddypress-page #container{ width:63.3333333333%; }
.two-sidebar-left  #pagelines_content #sidebar-wrap, .two-sidebar-left  #buddypress-page #sidebar-wrap{ width:36.6666666667%; }

.two-sidebar-center  #pagelines_content #column-main, .two-sidebar-center  .wmain, .two-sidebar-center  #buddypress-page #container{ width:66.6666666667%; }
.two-sidebar-center  #pagelines_content #sidebar1, .two-sidebar-center  #buddypress-page #sidebar1{ width:33.3333333333%; }
.two-sidebar-center  #pagelines_content #sidebar2, .two-sidebar-center  #buddypress-page #sidebar2{ width:100%; }
.two-sidebar-center  #pagelines_content #column-wrap, .two-sidebar-center  #buddypress-page #container{ width:66.6666666667%; }
.two-sidebar-center  #pagelines_content #sidebar-wrap, .two-sidebar-center  #buddypress-page #sidebar-wrap{ width:33.3333333333%; }

/* Options --------------- */

body, body.fixed_width{background-color:#000000;}
body #page, .sf-menu li, #primary-nav ul.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .commentlist ul.children .even, .alt #commentform textarea{background-color:#FFFFFF;}
.canvas #page-canvas{background-color:#FFFFFF;}
hr, .fpost, .clip_box, .widget-title, #buddypress-page .item-list li, .metabar a, #morefoot .widget-title, #site #dsq-content h3, .post.fpost .entry, #soapbox .fboxinfo,  #primary-nav #nav_row, .fpost.sticky{border-color:#E9E9E9;}
.canvas #page, .full_width #page, body.fixed_width{background-image:url('http://localhost/wp1/wp-content/uploads/2011/06/PageLines-Logo-v5.jpg');}
.canvas #page, .full_width #page, body.fixed_width{background-repeat:no-repeat;}
.canvas #page, .full_width #page, body.fixed_width{background-position:0% 0%;}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a.site-title, .entry-title a, .entry-title a:hover, .widget-title a:hover, h3.widget-title a:hover{color:#000000;}
#page, .tcolor1, #subnav ul li a:active, .commentlist cite a, #breadcrumb a, .metabar a:hover, .post-nav a:hover, .post-footer a, #buddypress-page #object-nav ul li a, #buddypress-page table.forum .td-title a, #buddypress-page #subnav a:hover, #buddypress-page #subnav li.current a, #twitterbar a, #carousel .carousel_text, #site #dsq-content .dsq-request-user-info td a, #pagination .wp-pagenavi a:hover, #pagination .wp-pagenavi .current, #featurenav a.activeSlide, .content-pagination a:hover .cp-num{color:#000000;}
.tcolor2, .lcolor2 a, .subhead, .widget-title,  .post-edit-link, .metabar .sword, #branding .site-description, #callout, #commentform .required, #postauthor .subtext, #buddypress-page .standard-form .admin-links, #wp-calendar caption, #carousel .thecarousel, #pagination .wp-pagenavi span.pages, .commentlist .comment-meta  a,  #highlight .highlight-subhead, .content-pagination span, .content-pagination a .cp-num, .searchform .searchfield{color:#AFAFAF;}
.tcolor3, .lcolor3 a, .main_nav li a,  .widget-title a, h3.widget-title a, #subnav_row li a, .metabar em, .metabar a, .tags, #commentform label, .form-allowed-tags code, .rss-date, #breadcrumb, .reply a, .post-nav a, .post-nav a:visited, .post-footer, .auxilary a, #buddypress-page .standard-form .admin-links a, #twitterbar .content .tbubble, .widget ul.twitter .twitter-item, .cform .emailreqtxt,.cform .reqtxt, #pagination .wp-pagenavi a, #pagination .wp-pagenavi .current, #pagination .wp-pagenavi .extend, .main_nav ul.sf-menu a, .sf-menu a:visited, #featurenav a, #feature-footer span.playpause{color:#777777;}
a, #subnav_row li.current_page_item a, #subnav_row li a:hover, #grandchildnav .current_page_item > a, .branding h1 a:hover, .post-comments a:hover, .bbcrumb a:hover, 	#feature_slider .fcontent.fstyle-lightbg a, #feature_slider .fcontent.fstyle-nobg a{color:#225E9B;}
a:hover,.commentlist cite a:hover,  #grandchildnav .current_page_item a:hover, .headline h1 a:hover{color:#0F457C;}
#feature-footer, .main-nav li.current-page-ancestor a, .main-nav li.current_page_item a, .main-nav li.current-page-ancestor ul a, .main-nav li.current_page_item ul a, #wp-calendar caption, #buddypress-page #subnav, #buddypress-page .activity .activity-inner, #buddypress-page table.forum th, #grandchildnav.widget, blockquote, input, textarea, .searchform .searchfield, .wp-caption, .widget-default, .commentlist .alt, #wp-calendar #today, #buddypress-page div.activity-comments form .ac-textarea, #buddypress-page form#whats-new-form #whats-new-textarea, .post-nav, .current_posts_info, .post-footer,  #twitterbar, #carousel .content-pad, .success, .sf-menu li li, .sf-menu li li, .sf-menu li li li, .content-pagination a .cp-num, .hentry table .alternate td{background:#F7F7F7;}
ul.sf-menu ul li, .post-nav, .current_posts_info, .post-footer, blockquote, input, textarea, .searchform .searchfield, .wp-caption, .widget-default, #buddypress-page div.activity-comments form .ac-textarea, #buddypress-page form#whats-new-form #whats-new-textarea, #grandchildnav.widget, .fpost .post-thumb img, .clip .clip-thumb img, .author-thumb img, #carousel .content ul li a img, #carousel .content ul li a:hover img, #feature-footer{border-color:#E9E9E9;}
blockquote, input, textarea, .searchform .searchfield, .wp-caption, .widget-default, #buddypress-page div.activity-comments form .ac-textarea, #buddypress-page form#whats-new-form #whats-new-textarea, #grandchildnav.widget, fpost .post-thumb img, .clip .clip-thumb img, .author-thumb img{border-left-color:#DDDDDD;}
blockquote, input, textarea, .searchform .searchfield, .wp-caption, .widget-default, #buddypress-page div.activity-comments form .ac-textarea, #buddypress-page form#whats-new-form #whats-new-textarea, #grandchildnav.widget, fpost .post-thumb img, .clip .clip-thumb img, .author-thumb img{border-top-color:#DDDDDD;}
#feature-footer .feature-footer-pad{border-left-color:#FFFFFF;}
#feature-footer .feature-footer-pad{border-top-color:#FFFFFF;}
#feature-footer, #grandchildnav li a, #grandchildnav .current_page_item  ul li a, #buddypress-page #object-nav ul li a{ text-shadow:#FFFFFF 0 1px 0;}
#wp-calendar thead th, #buddypress-page #object-nav, .item-avatar a, .comment blockquote, #grandchildnav .current_page_item a, #grandchildnav li a:hover, #grandchildnav .current_page_item  ul li a:hover, #carousel .carousel_text, pagination .wp-pagenavi a, #pagination .wp-pagenavi .current, #pagination .wp-pagenavi .extend, .sf-menu li:hover, .sf-menu li.sfHover, #featurenav a, #feature-footer span.playpause, .content-pagination .cp-num, .content-pagination a:hover .cp-num, ins{background:#F1F1F1;}
#featurenav a, #feature-footer span.playpause{border-color:#DDDDDD;}
#featurenav a, #feature-footer span.playpause{border-left-color:#CCCCCC;}
#featurenav a, #feature-footer span.playpause{border-top-color:#CCCCCC;}
#buddypress-page #object-nav ul li a:hover,#buddypress-page #object-nav ul li.selected a, #buddypress-page #subnav a:hover, #buddypress-page #subnav li.current a, #featurenav a.activeSlide{background:#E1E1E1;}
#featurenav a.activeSlide{border-color:#CCCCCC;}
#featurenav a.activeSlide{border-left-color:#999999;}
#featurenav a.activeSlide{border-top-color:#999999;}
#footer, #footer li.link-list a, #footer .latest_posts li .list-excerpt{color:#999999;}
#footer a, #footer .widget-title,  #footer li h5 a{color:#FFFFFF;}
#footer, .fixed_width #footer{ text-shadow:#000000 0 -1px 0;}
#feature-area, .feature-wrap, #feature_slider .fmedia, #feature_slider .fcontent, #feature_slider .text-bottom .fmedia .dcol-pad, #feature_slider .text-bottom .feature-pad, #feature_slider .text-none .fmedia .dcol-pad{height:330px;}


/* Custom CSS */

body{}



/* Trigger: AJAX*/