/*
   layout.css
   PageLines Layout - CSS Framework
   
   Created by Andrew Powers on 2011-06-30.
   Copyright 2011 PageLines. All rights reserved.
*/


/* @ Responsive Design */
	body img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}

	@media screen and (max-width:800px){
		body #site .content, body .wcontent, body #footer .content, html body.fixed_width #page{width: 97%;}
	    body #page #pagelines_content #column-wrap, body #page  #pagelines_content #sidebar-wrap, html body.fixed_width #site .content{
	       width: 100%;
	    }
	}
	@media screen and (max-width:600px) { 
	    body #page #pagelines_content #column-wrap #sidebar1, body #page #pagelines_content #column-main { 
	       width: 100%;
	    }
		body .navigation_wrap{text-align: center;}
		body .navigation_wrap .main_nav, .navigation_wrap .main_nav_container {margin-right: 0;}
		
		body .navigation_wrap .searchform {
			display: inline-block;
			position: relative;
			float: none;
			margin-top: 10px;
		}
	}
	
	@media screen and (max-width:450px) { 
		html { -webkit-text-size-adjust: none; }
	    body #page #pagelines_content .clip {
	        width: 100%;
	    }
		body .clip_box{
			margin:0;
			padding:0;
			border:0;
		}
	}
	
	#column-wrap,  #sidebar-wrap, .clip, #column-main, #sidebar1, .content, #page{ 
	    transition:all .2s linear; 
	    -o-transition:all .2s linear; 
	    -moz-transition:all .2s linear; 
	    -webkit-transition:all .2s linear;
	}

/* @ Layout Framework */

	#site { position:relative; }	
	#wrapper { padding-bottom: 3.5em; }
	#page, #dynamic-content { min-height: 500px; zoom:1;}
	
	.fixed_width #page, .fixed_width #footer, .canvas .page-canvas{ width: 100%; margin: 0 auto; position: relative; }
	.page-canvas{ margin: 0 auto; }
	.content { width: 100%; margin: 0 auto; position: relative; /*border: 1px solid transparent;*/}
	.content-pad {padding-right: 15px; padding-left: 15px}
	
/*	.container-group .outline > :first-child{margin-top: 0;}
	.container-group .outline > :last-child{margin-bottom: 0;}*/
	section.container{ margin: 1em 0;}
	section.copy{ margin: 1em 0;}
	
	/* @ Layout Floating */
		#column-wrap, #container{float: left;}
		#sidebar-wrap{float:right;}
		.two-sidebar-left #column-wrap, .one-sidebar-left #column-wrap{ 
			float: right; 
		}
		.two-sidebar-left #sidebar-wrap, .one-sidebar-left #sidebar-wrap{ float: left; }
		.two-sidebar-left #column-main, .one-sidebar-left #column-main{ 
			float: right; 
		}
		.two-sidebar-center #column-main { float: right;}
		#column-main { float: left; display: inline; width: 630px; }
		#sidebar1, #sidebar2{ float: left; overflow:hidden; }

	/* @ Layout Column Padding */
		.mcolumn-pad {padding-top: 2em;}
		.scolumn-pad { padding: 0 .7em; }
		.two-sidebar-center #column-main .mcolumn-pad{ padding-right: 20px; padding-left: 20px;}
		.fullwidth #column-main .mcolumn-pad{ padding-right: 15px; padding-left: 15px;}
		.one-sidebar-right #column-main .mcolumn-pad, .one-sidebar-right #container #content, .two-sidebar-right #column-main .mcolumn-pad, .two-sidebar-right #container #content{ 
			padding: 0em 30px 0 15px;
		}
		.one-sidebar-left #column-main .mcolumn-pad , .one-sidebar-left #container #content, .two-sidebar-left #column-main .mcolumn-pad , .two-sidebar-left #container #content{ 
			padding: 0em 15px 0 30px;
		}

/* @ Fixed Width Design Mode*/
.fixed_width #page{
	margin: 12px auto 0;
}
	body.fixed_width{ border-top:none; }
	.fixed_width #footer{ background: transparent; margin: 0 auto; }
	.fixed_width #morefoot .dcol-pad { padding: 15px; }
	.fixed_width #branding .content-pad{ padding: 20px 15px 15px; }
	.fixed_width #header .searchform { margin-right: 10px }
	.fixed_width #boxes .dcol-pad {padding: 10px;}