/*
   layout.css
   PageLines Layout - CSS Framework
   
   Created by Andrew Powers on 2011-06-30.
   Copyright 2011 PageLines. All rights reserved.
*/


/* @ Responsive Design */
	body .content img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}

	@media screen and (max-width:800px){
		.responsive #site .content, .responsive .wcontent, .responsive #footer .content, html .responsive.fixed_width #page{width: 97%;}
	    .responsive #page #pagelines_content #column-wrap, .responsive #page  #pagelines_content #sidebar-wrap, html .responsive.fixed_width #site .content{
	       width: 100%;
	    }
	}
	@media screen and (max-width:600px) { 
	    .responsive #page #pagelines_content #column-wrap #sidebar1, .responsive #page #pagelines_content #column-main { 
	       width: 100%;
	    }
		.responsive .navigation_wrap{text-align: center;}
		.responsive .navigation_wrap .main_nav, .responsive .navigation_wrap .main_nav_container {margin-right: 0;}
		
		.responsive .navigation_wrap .searchform {
			display: inline-block;
			position: relative;
			float: none;
			margin-top: 10px;
		}
		.responsive section.container .content-pad{
			padding-right: 0;
			padding-left: 0;
		}
		
		.responsive #branding .icons {
			position: static;
		}
	}
	
	@media screen and (max-width:450px) { 
		html { -webkit-text-size-adjust: none; }
	    .responsive #page #pagelines_content .clip {
	        width: 100%;
	    }
		.responsive .clip_box{
			margin:0;
			padding:0;
			border:0;
		}
		
	}
	
	#column-wrap,  #sidebar-wrap, .clip, #column-main, #sidebar1, .content, #page{ 
	    transition:all .2s linear; 
	    -o-transition:all .2s linear; 
	    -moz-transition:all .2s linear; 
	    -webkit-transition:all .2s linear;
	}

/* @ Layout Framework */

	#site { position:relative; }	
	#wrapper { padding-bottom: 3.5em; }
	#page, #dynamic-content { min-height: 400px; zoom:1;}
	
	.fixed_width #page, .fixed_width #footer, .canvas .page-canvas{ width: 100%; margin: 0 auto; position: relative; }
	.page-canvas{ margin: 0 auto; }
	.content { width: 100%; margin: 0 auto; position: relative;}
	
	

	/* @ Layout Spacing */
	
		/* Default Spacing */
		section.container, .hentry, .clip_box, .widget{ margin: 0;} 
		section.copy{margin: 1.6em 0;}
		.content-pad{padding: 15px;}
		
		.hentry, .clip_box{margin-bottom: 1.8em}
		.hentry-pad{padding: 0 0 25px;}
		.widget-pad{padding: 10px;}
		#pagelines_content .clip{ width:47%; }
		
		/* Adjustments */
		
		.mcolumn-pad > article .hentry-pad:first-of-type {padding-top: 0;}
		.mcolumn-pad > :first-child, .copy-pad > :first-child, .scolumn-pad > :first-child, .sidebar_widgets > :first-child{margin-top: 0;}
		.mcolumn-pad > :last-child, .copy-pad > :last-child, .scolumn-pad > :last-child, .sidebar_widgets > :last-child{margin-bottom: 0;}
		.clip_box .hentry, .pprow .widget { margin:0; }
		
		/* Special Corrections */
		#content .content-pad{ padding-top: 10px }
		#branding .content-pad{ padding-top: 25px; padding-bottom: 25px; }
		#nav .content-pad, #secondnav .content-pad{ padding-top: 5px; padding-bottom: 5px; }
		
		
	/* @ Layout Floating */
		#column-wrap, #container{float: left;}
		#sidebar-wrap{float:right;}
		.two-sidebar-left #column-wrap, .one-sidebar-left #column-wrap{  float: right;  }
		.two-sidebar-left #sidebar-wrap, .one-sidebar-left #sidebar-wrap{ float: left; }
		.two-sidebar-left #column-main, .one-sidebar-left #column-main{  float: right;  }
		.two-sidebar-center #column-main { float: right;}
		#column-main { float: left; display: inline; width: 630px; }
		#sidebar1, #sidebar2{ float: left; overflow:hidden; }
		.clip.hentry { float: left; clear: none; }
		.clip-right.hentry { float: right; clear: none;}

	/* @ Layout Column Padding */
		
		
		.two-sidebar-center #column-main .mcolumn-pad{ padding-right: 20px; padding-left: 20px;}
		.fullwidth #column-main .mcolumn-pad{ padding-right: 15px; padding-left: 15px;}
		.one-sidebar-right #column-main .mcolumn-pad, .two-sidebar-right #column-main .mcolumn-pad{ 
			padding: 14px 30px 0 15px;
		}
		.one-sidebar-left #column-main .mcolumn-pad, .two-sidebar-left #column-main .mcolumn-pad{ 
			padding: 14px 15px 0 30px;
		}

/* @ Fixed Width Design Mode*/
.fixed_width #page{
	margin: 12px auto 0;
}
	.content-shadow.fixed_width .page-canvas{
		-moz-box-shadow: 0 1px 5px rgba(0,0,0, .8);
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0, .8);
		box-shadow: 0 1px 5px rgba(0,0,0, .8);
	}
	body.fixed_width{ border-top:none; }
	.fixed_width #footer{ background: transparent; margin: 0 auto; }
	.fixed_width #morefoot .dcol-pad { padding: 15px; }
	.fixed_width #branding .content-pad{ padding: 25px; }
	.fixed_width #header .searchform { margin-right: 10px }
	.fixed_width #boxes .dcol-pad {padding: 10px;}