/*
   objects.css
   PageLines Platform Framework
   
   Created by Andrew Powers on 2011-05-30.
   Copyright 2011 PageLines. All rights reserved.
*/

/* @ Responsive Design */
	body img {max-width: 100%; height: auto;}

/* @ Layout Framework */

	#site { position:relative; }	
	#wrapper { padding-bottom: 3.5em; }
	#page, #dynamic-content { min-height: 500px; zoom:1;}
	
	.fixed_width #page, .fixed_width #footer, .canvas .page-canvas{ width: 100%; margin: 0 auto; position: relative; max-width: 980px; }
	.page-canvas{ margin: 0 auto; }
	.content { width: 100%; margin: 0 auto; position: relative; max-width: 960px;  }
	#page-main .content {border-right: 1px solid transparent; border-left: 1px solid transparent;}
	
	/* @ Layout Floating */
		#column-wrap, #container{float: left;}
		#sidebar-wrap{float:right;}
		.two-sidebar-left #column-wrap, .one-sidebar-left #column-wrap, .two-sidebar-left #buddypress-page #container, .one-sidebar-left #buddypress-page #container{ float: right; }
		.two-sidebar-left #sidebar-wrap, .one-sidebar-left #sidebar-wrap{ float: left; }
		.two-sidebar-left #column-main, .one-sidebar-left #column-main, .two-sidebar-left #buddypress-page #container, .one-sidebar-left #buddypress-page #container{ float: right; }
		.two-sidebar-center #column-main { float: right;}
		#column-main { float: left; width: 630px; display: inline; }
		#sidebar1, #sidebar2{ float: left; overflow:hidden; }

	/* @ Layout Column Padding */
		.mcolumn-pad {padding-top: 2em;}
		.two-sidebar-center #column-main .mcolumn-pad{ padding-right: 20px; padding-left: 20px;}
		.fullwidth #column-main .mcolumn-pad{ padding-right: 15px; padding-left: 15px;}
		.one-sidebar-right #column-main .mcolumn-pad, .one-sidebar-right #container #content, .two-sidebar-right #column-main .mcolumn-pad, .two-sidebar-right #container #content{ 
			padding: 2em 30px 0 15px;
		}
		.one-sidebar-left #column-main .mcolumn-pad , .one-sidebar-left #container #content, .two-sidebar-left #column-main .mcolumn-pad , .two-sidebar-left #container #content{ 
			padding: 2em 15px 0 30px;
		}


/* @ Inline List - Horizontal non-floated navigation/menu */
	ul.inline-list { list-style-type: none; }
	ul.inline-list li { display: inline ; padding: 0px 3px; }

/* @ Tabbed List - Horizontal floated list, tab and navigation effects */
	ul.tabbed-list {
		list-style-type: none; 
		margin:0;

		width: 100%; /* clear IE 7 */
	}
	ul.tabbed-list li {margin: 0; padding: 0; float: left;}
	ul.tabbed-list li a{display: block; }

/* @ Mediablock - Standard Media Format  */
	.media { overflow:hidden;overflow: visible; zoom: 1; }
	.media .bd{display:table-cell; vertical-align: top; width: 10000px; *display:block; *width:auto; zoom:1;}
	.media .bd > :first-child{margin-top:0;}
	.media .bd > :last-child{margin-bottom:0;}
	.media .img{float:left;margin-right: 15px;}
	.media .img img{display:block; max-width: 100%;}
	.media .imgExt{float:right; margin-left: 10px;}
	

/* @ PageLines Proto CSS Grid */
	.pprow { width: 100%; margin: 0 auto; overflow: hidden; }
	.pp2, .pp3, .pp4, .pp5, .pp6 {margin: 0; padding:0; margin-right: 4%; float: left; border: none;}
	.pprow.debug .pp2, .pprow.debug .pp3, .pprow.debug .pp4, .pprow.debug .pp5, .pprow.debug .pp6{outline: 1px solid blue;}
	.pp1 { width: 100%; float: left;}
	.pp2 { width: 48%; }
	.pp3 { width: 30.6666667%; }
	.pp4 { width: 22%; }
	.pp5 { width: 16.8%; }
	.pp6 { width: 13.3333333%; }
	.pplast { margin-right: 0; }
	