/*
   objects.css
   PageLines Platform Framework
   
   Created by Andrew Powers on 2011-05-30.
   Copyright 2011 PageLines. All rights reserved.
*/


/* @ Inline List - Horizontal non-floated navigation/menu */
	ul.inline-list { list-style-type: none; }
	ul.inline-list li { display: inline ; padding: 0px 3px; }

/* @ Tabbed List - Horizontal floated list, tab and navigation effects */
	ul.tabbed-list {
		list-style-type: none; 
		margin:0;
		overflow: auto; /* clear */
		width: 100%; /* clear IE 7 */
	}
	ul.tabbed-list li {margin: 0; padding: 0; float: left;}
	ul.tabbed-list li a{display: block}

/* @ Mediablock - Standard Media Container  */
/*	.mediablock{ overflow:hidden;overflow: visible; zoom: 1; }
	.mediablock-image { float:left; margin-right: 10px; }
	.iconlist .mediablock-image{ padding-top: .4em;}
	.mediablock-content{ display: table-cell; vertical-align: top; width: 10000px; }
	.mediablock-content p:first-child{ margin-top: 0; }*/

	/* For reference */
	.media { overflow:hidden;overflow: visible; zoom: 1; }
	.media .bd{display:table-cell; vertical-align: top; width: 10000px; *display:block; *width:auto; zoom:1;}
	.media .bd > :first-child{margin-top:0;}
	.media .bd > :last-child{margin-bottom:0;}
	.media .img{float:left;margin-right: 15px;}
	.media .img img{display:block;}
	.media .imgExt{float:right; margin-left: 10px;}

/* @ PageLines Proto CSS Grid */
	.pprow { width: 100%; margin: 0 auto; overflow: hidden; }/* max-width: 1140px; */
	.pp1, .pp2, .pp3, .pp4, .pp5, .pp6, .pp7, .pp8, .pp9, .pp10, .pp11 { margin-right: 3.8%; float: left; }
	.pp1 { width: 4.85%; }
	.pp2 { width: 13.5%; }
	.pp3 { width: 22.15%; }
	.pp4 { width: 30.8%; }
	.pp5 { width: 39.45%; }
	.pp6 { width: 48.1%; }
	.pp7 { width: 56.75%; }
	.pp8 { width: 65.4%; }
	.pp9 { width: 74.05%; }
	.pp10 { width: 82.7%; }
	.pp11 { width: 91.35%; }
	.pp12 { width: 100%; float: left; }
	.pplast { margin-right: 0; }
