/* Splash CSS - PageLines 2011 */

#pagelines_splash.container{
	
	background: #e5e5e5;
	background-image:  -webkit-radial-gradient(center top, #fdfdfd 10%, #e5e5e5 60%); /* Chrome10+,Safari5.1+ */
	border-bottom: 1px solid #fff;
}

	#pagelines_splash .texture{
		background: url(bottom-container.png) no-repeat bottom center;
	}


.splash_head{
	padding: 30px 0;
}
.splash_branding{
	float:left;
}
.splash_nav{
	float: right;
}
	.splash_nav ul li{
		display: block;
		padding:0;
		margin-left: 10px;
		border: 1px solid #ddd;
		border-bottom: 1px solid #bbb;
		border-right: 1px solid #bbb;
		-moz-box-shadow: 0 1px 4px #ddd;
		-webkit-box-shadow: 0 1px 4px #ddd;
		box-shadow: 0 1px 4px #ddd;
		
	}
	.splash_nav ul li a{
		display: block;
		padding: 4px 10px;
		border: 1px solid transparent;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		color:#666;
		background: #f7f7f7 url(sprite-grey-buttons.png) repeat-x 0 0;
		font-size: .9em;
	}
		.splash_nav ul li a:hover{
			background: url(sprite-grey-buttons.png) repeat-x 0 -50px;
		}
		.splash_nav ul li a:active{
			border: 1px solid transparent;
			color:#fff;
			text-shadow: #000 0 -1px 0;
			background: #999 url(sprite-grey-buttons.png) repeat-x 0 -100px;
		}
		.splash_nav ul li:active{
			background: #999;
			border: 1px solid #888;
		}

.splash_area {
	position: relative;
}
.splash_area .splash_left{
	float: left;
	width: 45%;
	text-align: center;
}
	.splash_left .splash_pad{
		padding: 100px 10px 60px 10px;
	}
	
	.splash_left h1{font-size: 3.5em; letter-spacing: -.05em;}
	.splash_left p{font-size: 1.15em;}
	
	.splash_button{
		display: inline-block;
		background: url(sprite-splash-btn.png) repeat-x 0 0;
		font-size: 1.5em;
		color: #fff;
		border: 1px solid #235ABB;
		text-shadow: 0 -1px 0 #000;
		-moz-box-shadow: 0 1px 4px #888;
		-webkit-box-shadow: 0 1px 4px #888;
		box-shadow: 0 1px 4px #888;
	}
		
		.splash_button:hover{
			color: #fff;
			text-shadow: 0 -1px 0 #000;
			background: url(sprite-splash-btn.png) repeat-x 0 -80px;
		}
		.splash_button:active{
			color: #fff;
			text-shadow: 0 -1px 0 #000;
			background: url(sprite-splash-btn.png) repeat-x 0 -160px;
		}
			.splash_button:active .splash_button_pad{
				border: 1px solid transparent;
				-moz-box-shadow: none;
				-webkit-box-shadow:none;
				box-shadow: none;
				-moz-box-shadow: inset 0 1px 5px #063B7A;
				-webkit-box-shadow:inset 0 1px 5px #063B7A;
				box-shadow: inset 0 1px 5px #063B7A;
			}
		
		.splash_button_pad{
			display: block;
			border: 1px solid transparent;
			border-top: 1px solid #9EEEFB;
			border-left: 1px solid #9EEEFB;
			padding: 9px 27px;
		}
		
		.splash_button, .splash_button_pad, .splash_nav li, .splash_nav li a{
			moz-border-radius: 4px;
			-khtml-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
		}
		
		.splash_button .spl {font-family: Baskerville, "palatino linotype", palatino, georgia, serif; font-style: italic; }
		
		.splash_shelf {
			height: 80px;
			background: url(below-bottom.png) no-repeat top center;
		}
		
.splash_area .splash_right{
	float: left;
	width: 55%;
	height: 100%;
}

.splash_feature{
	position: absolute;
	left: 50%;
	bottom: -30px;
}
