#cycle {
	width: 100% !important;
}

#feature-area {
	display: block;
	position: relative;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	overflow: visible;
	.fcontainer{	
		width: 100%;
		&.fstyle-nobg { background: none; }
		&.fstyle-lightbg { 
			background: #fff; 
			.fcontent, .fcontent a{
				background: rgba(255,255,255,.7); 
				text-shadow: 0 0 2px #fff;
			}
		}
	}
	object, iframe{
		width: 100%;
		height: 100%;
	}
}

.fset_height, #feature_slider .text-bottom .fmedia .dcol-pad,
#feature_slider .text-bottom .feature-pad,
#feature_slider .text-none .fmedia .dcol-pad{
	height: 380px;
	overflow:hidden;
}
		
.fexcerpt{
	p {margin: .5em 0}
	:first-child{ margin-top: 0; }
}
			
/* Feature Layouts */ 
.fcontainer .feature-wrap{
	display: block;
	position: relative;
	max-width: 100%;
	border:none;
	&.bg_cover{
		background-position: center center;
		background-repeat: no-repeat;
        .background-size(cover);
	}
	&.bg_standard{
		background-position: center center;
		background-repeat: no-repeat;
	}
}

#feature_slider{
	position:relative;
	z-index:0;
	width: 100%;
	.fmedia, 
	.fcontent{
		float: left;
	}
	.fcontent { 
		width: 33%; 
		min-width: 220px;
		.plmore{
			display: inline-block;
			background: rgba(0,0,0, .3);
			padding: 3px 8px;
			margin: 0 5px;
			border:none;
			&:hover{
				background: rgba(0,0,0, .6);
			}
		}
	}
	.fmedia {  
		width: 67%;
	    padding: 0;  
		overflow:hidden;
		.dcol-pad {
			overflow: hidden;
			padding: 0;
			text-align: center;
		}
	}
	.text-right, .text-left{
		.fexcerpt{
			overflow: hidden;
		}
	}
	.text-right{
		.fcontent{ float:right; }
		.fmedia{ float:left; }
	}
	.text-bottom{
		.feature-pad{
			position: relative;
			padding: 0px;
		}
		.fmedia{ 
			float:none; 
			position: absolute; 
			top: 0px;
			left: 0px; 
			width: 100%; 
			.dcol-pad{
				padding: 0px;
		
			}
		}
		.fcontent{
			float:none; 
			position: absolute; 
			bottom: 0px;
			left: 0px; 
			z-index: 200;
			width: 100%; 
			height: auto !important;
			font-size: 1em;
			.dcol-pad{
				padding: 10px;
				border-right:none;
			}
			.fheading {
				padding: 0 10px;
				float: left;
				width: 33%;
			}
			.ftext {
			
				font-size: 12px;
				padding: 3px 20px;
				line-height: 1.5em;
				overflow:hidden;
				float: left;
				width: 50%;
			}
			.flink {
				position: absolute;
				right: 10px;
				bottom: 10px;
			}
		}
	}
	.text-none{
		.fcontent{ 
			display: none; 
		}
		.fmedia{ 
			width: 100%; 
			.dcol-pad{
				padding: 0px;
			}
		}
	}		
	
	.fcontainer{
		&.fstyle-nobg .fcontent{
			background: none;
		}
		.fcontent{
			h1, h2, h3, h4, h5{
				color: #fff;
				text-shadow: #000 0 -1px 0 ;
			}
		}
		&.fstyle-lightbg,
		&.fstyle-nobg{
			.fcontent{
				h1, h2, h3, h4, h5{
					color: #000;
					text-shadow: none;
				}
			}
		}
	}
	.fcontent, .fcontent a{
		color: #fff;
		text-shadow: #000 0 -1px 0 ;	
		line-height: 1.63em;
	}
	.fcontent{
		background: rgba(0,0,0,.35);
		display: inline;
		position: relative;
		.dcol-pad{
			padding: 40px 30px 20px 30px;
		}
		.ftitle a{
			text-decoration: none;
			border: none;
		}
		a:hover{
			color: rgba(255, 255, 255, .7);
		}
	}
}

.feature-wrap a{
	color:#fff;
	border-bottom: 1px solid rgba(255, 255, 255, .7);
	&:hover{
		color:rgba(255, 255, 255, .7);
		border-bottom: 1px solid rgba(255, 255, 255, .4);
	}
}
		
/* Feature Text Styling */
.fcontent {
	.fheading {
		padding: .8em 0;
		margin-bottom: .2em;
	}
	.ftitle{
		vertical-align: middle;
		small {

			line-height: 25px;
			display:block;
			font-size: 16px;
		}
	}
	.flink { 
		float: left; 
		margin-top: .4em;
	}
	.post-edit-link {
		position: absolute; 
		top: 10px; 
		right: 10px;
	}
}

			
/* @ Feature Footer */
#feature-footer{
	z-index:100;
	position: relative;
	.feature-footer-pad{
		padding:8px;
		border: 1px solid transparent;
	}
	&.nonav{
		border:none;
		.feature-footer-pad {
			display: none;
		}
	}
}

#feature-footer.dots a{
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0;
	text-indent:-1000em;
}

#featurenav a, 
#feature-footer span.playpause{
	padding: 1px 8px;
	margin: 0 8px 4px 0;
	font-size: .86em;
	display: inline-block;
	background-color: @dark-base;
}
#featurenav {
	text-align: center;
	a{
		background: darken(@pl-base, @invert-dark);
		color: fadeout(@pl-text, 60%);
		&.activeSlide{
			background: darken(@pl-base, @invert-dark+7);
			color: fadeout(@pl-text, 30%);
		}
		span#next, span#prev {
			background: #000;
			width:10px;
			height:10px;
		}
		span.nav_thumb, 
		span.nav_thumb span.nav_overlay{
			width: 50px;
			vertical-align: middle;
			height: 30px;
			display: inline-block;
			margin-right:10px;	

		}
		span.nav_thumb{
			background-color:#fff;
			background-position: center center;
			background-repeat: no-repeat;
			.background-size(cover);
			span.nav_overlay{
				margin:0;
				background: url(@{plSectionsRoot}/features/images/feature-thumb-overlay.png) no-repeat 0 0;
			}
		}
		&.activeSlide, &:active{
			span.nav_thumb span.nav_overlay{
				background: url(@{plSectionsRoot}/features/images/feature-thumb-overlay.png) no-repeat 0 -30px;
			}
		}
	}
}

#features .thumbs #featurenav a{
	background: none;
	margin: 0;
	padding: 0;
	border:none;
}

				
/* @ Feature Play/Pause */
#feature-footer span.playpause {
	.user-select(none);
	cursor: pointer;
	display: block;
	float:right;
	padding: 1px 1px 1px 2px;
	margin-right: 0;
	width: 21px;
	height: 21px;
	&.pause span{
		display: block;
		background: transparent url(@{plSectionsRoot}/features/images/feature-pause.png) no-repeat 4px 5px;
	}
	&.resume span{
		display: block;
		background: transparent url(@{plSectionsRoot}/features/images/feature-play.png) no-repeat 4px 5px;
	}
}
				
@media screen and (max-width:600px) {
	.responsive #page #feature_slider {
		.fcontainer .fcontent{ 
			float:none; 
			position: absolute; 
			bottom: 0px;
			left: 0px; 
			z-index: 200;
			width: 100%; 
			height: auto !important;
			display:inline-block;
			-webkit-backface-visibility: hidden; // Hide the slides before JS is loaded
		}
		.fcontent .dcol-pad {
			padding: 3%;
			height: auto;
		}
	}
	
}
