/* @ MoreFoot Sidebars */
	#morefoot .grid-element{margin-bottom: 0;}

		#morefoot .widget-title{
			padding-left: 0;
			margin-bottom: .7em;
		}

		#morefoot .widget ul{margin-left:10px;}
		#morefoot .widget ul li{
			padding: .2em 0;
			border:none;
		}