#twitterbar .content .tbubble{
	font-style:italic;
	background: url(twitter-balloon.png) no-repeat 0 12px;
	padding: 12px 25px;
}
#twitterbar .twitteraccount{font-style:normal;}

.widget ul.twitter .twitter-item{
	font-weight: normal;
	font-style: italic;
	margin-bottom: .4em;
	font-size: .9em;
}
