/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
	margin: 0;
	margin-bottom: 18px;
	font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}


.mastlinks {
  margin: 36px 0;
}
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li {
  display: inline;
  margin: 0 8px;
}

/* Responsive
 ************************/

@media screen and (max-width: 980px){
	.jumbotron h1 {
		font-size: 72px;
	}
}
@media screen and (max-width: 768px){
	.jumbotron h1 {
		font-size: 54px;
	}
	.jumbotron p {
		margin-right: 0;
		margin-left: 0;
	}
	.jumbotron .btn {
		margin-bottom: 10px;
	}
}
@media screen and (max-width:480px) {
	.masthead {
		padding-top: 0;
	}
	.jumbotron h1 {
		font-size: 45px;
		margin-right: 0;
	}
	.jumbotron p {
		margin-right: 0;
		margin-left: 0;
		font-size: 18px;
		line-height: 24px;
	}
	.jumbotron .btn {
		display: block;
		font-size: 18px;
		padding: 10px 14px;
		margin: 0 auto 10px;
	}
}