.callout_head{ margin-top: 5px; font-size:2.4em; line-height: 1.4em; display: inline}
.callout_sub{ font-size:1.1em; margin: 0 }
.callout_image a{line-height: 1em; }

#callout .callout-area{	padding:20px; }
#callout .callout_text-pad{ padding: 4px 10px 0; }
#callout .callout_text.noimage { width:100%; }

#callout .callout_image a{ display: block;line-height: 1em;}
#callout .callout_image { text-align: center; vertical-align: center; }

#callout .callout_button{
	font-size: 1.7em;
	padding: 10px 22px;
	float: right;
}