.callout_head{ font-size:2.4em; display: inline}
.callout_copy{ font-size:1em; }
.callout_image a{line-height: 1em; }

#callout .callout-area{	padding:20px; }
#callout .callout_text-pad{ padding: 0 10px; }
#callout .callout_text.noimage { width:100%; }

#callout .callout_image a{ display: block;line-height: 1em;}
#callout .callout_image { text-align: center; vertical-align: center; }

#callout .callout_button{
	font-size: 1.7em;
	padding: 10px 22px;
	float: right;
}