.postpin-list{
	margin: 0 auto;
}

.postpin-wrap{
	width: 237px;
	float:left;

}
/*@media screen and (max-width:900px){
	.postpin-wrap{width: 33.33333333%}
}
@media screen and (max-width:700px){
	.postpin-wrap{width: 50%}
}
@media screen and (max-width:450px){
	.postpin-wrap{width: 100%}
	
}*/


	.postpin{
		margin: 8px;
		box-shadow: 0 1px 4px rgba(0,0,0,.3);
	}

	
	.postpin-pad{
		padding: 10px;
	}

	.pin-meta{
		font-size: .85em;
	}
	
	.pin-top{
		margin-bottom: 8px;
	}
	.pin-bottom{
		margin: 10px 0 4px 0;
	}
	/*
	 * @ Image 
	 ************/
	.pin-img-wrap{
		padding: 10px;
	}
		.pin-img, .pin-img img{
			display: block;
		}
	/*
	 * @ Type 
	 ************/ 
	.postpin .headline{
		font-size: 1.3em;
		line-height: 1.3em;
		margin: 0 0 .4em 0;
	}
	.postpin .summary{
		
		font-size: .95em;
		line-height: 1.5em;
	}
	
	#infscr-loading {
		text-align: center;
		z-index: 100;
		position: fixed;
		left: 45%;
		bottom: 40px;
		width: 200px;
		padding: 10px;
		background: black;
		opacity: 0.8;
		color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	/*
	 * @ Transitions 
	 ************/
	.masonry,
	.masonry .masonry-brick {
	  -webkit-transition-duration: 0.7s;
	     -moz-transition-duration: 0.7s;
	       -o-transition-duration: 0.7s;
	          transition-duration: 0.7s;
	}

	.masonry {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	       -o-transition-property: height, width;
	          transition-property: height, width;
	}

	.masonry .masonry-brick {
	  -webkit-transition-property: left, right, top;
	     -moz-transition-property: left, right, top;
	       -o-transition-property: left, right, top;
	          transition-property: left, right, top;
	}